body {
  font-family: Arial, sans-serif;
}

#cadastro-form {
  width: 50%;
  margin: 20px auto;
}

#resultado {
  margin: 20px auto;
  width: 50%;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 20px;
}
